<!-- views/subEdit.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/assets/css/admin.css">
  <link rel="shortcut icon" href="./favicon.svg" type="image/svg+xml">
  <title>Edit Subscriber</title>
</head>
<body>

  <div class="header-container">
    <h2>Edit Subscriber</h2>
    <a href="/subscribe" class="back-link">
      <button class="back-button">Cancel</button>
    </a>
  </div>

  <form action="/subscribe/edit/<%= subs._id %>" method="POST" class="reservation-form">
    <label for="email">Email:</label>
    <input type="email" name="email" id="email" value="<%= subs.email %>" required>

    <label for="status">Status:</label>
    <select name="status" id="status" required>
      <option value="subscribed" <%= subs.status === 'subscribed' ? 'selected' : '' %>>Subscribed</option>
      <option value="unsubscribed" <%= subs.status === 'unsubscribed' ? 'selected' : '' %>>Unsubscribed</option>
    </select>

    <button class="update-button" type="submit">Update Subscriber</button>
  </form>

</body>
</html>
